#palette1-title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

#palette1-color1 {
    background-color: #bc8aab;
    color:black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding: 24px;
}

#palette1-color2 {
    background-color:#9067c6;
    color:black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding: 24px;
}
#palette1-color3 {
    background-color:#81f4e1;
    color:black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding: 24px;
}
#palette2-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

#palette2-color1 {
    background: color #e2e2e2;;
    color:black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding: 24px;
}
